<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Float example</title>
    <style type="text/css">
      img {
        float: left;
        width: 100px;
        height: 100px;
      }

      p,
      body {
        margin: 2em;
      }

      p {
        /* 清除同级浮动 */
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <p>
      <img src="./img.jpg" alt="This image will illustrate floats" />
      <p>
        Some sample text that has no other Some sample text that has no other...Some sample text that has no other...Some sample text that
        has no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no other...Some
        sample text that has no other... Some sample text that has no other Some sample text that has no other...Some sample text that has
        no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no other...Some
        sample text that has no other...Some sample text that has no other... Some sample text that has no other Some sample text that has
        no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no other...Some
        sample text that has no other...Some sample text that has no other...Some sample text that has no other... Some sample text that has
        no other Some sample text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample
        text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no
        other... Some sample text that has no other Some sample text that has no other...Some sample text that has no other...Some sample
        text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no
        other...Some sample text that has no other... Some sample text that has no other Some sample text that has no other...Some sample
        text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no
        other...Some sample text that has no other...Some sample text that has no other... Some sample text that has no other Some sample
        text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no
        other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no other... Some sample
        text that has no other Some sample text that has no other...Some sample text that has no other...Some sample text that has no
        other...Some sample text that has no other...Some sample text that has no other...Some sample text that has no other...Some sample
        text that has no other...
      </p>
    </p>
  </body>
</html>
