<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>title</title>
	<style>
		.topDiv {
			width: 500px;
			border: 2px solid black;
		}

		.floatDiv {
			width: 100px;
			height: 100px;
			border: 2px dotted red;
			color: red;
			margin: 4px;
			float: left;
		}

		.bottomDiv {
			width: 500px;
			height: 100px;
			margin: 5px 0;
			border: 2px dotted black;
		}

		.textDiv {
			color: blue;
			border: 2px solid blue;
		}

		.blankDiv {
			clear: both;
		}
	</style>
</head>

<body>
	<div class="topDiv">
		<div class="textDiv">
			Paris est u neville francaise， capital edel a France et le chef-lieu del a region d'Ile-de-France.Ses habitants son tappe les les
			Parisiens.
		</div>
		<div class="floatDiv">float left</div>
		<div class="blankDiv"></div>
	</div>
	<div class="bottomDiv">
		Paris Paris est u neville francaise， capital edel a France et le
		…chef-lieu del a region dIle-de-France.Cette ville est construit esu rune boucle del a Seine， au centre du bass in parisien， entre les
		confluent sdelaMarneetdelaSeineena mont， et del'Oise et del a Seine en a val.Ses habitants son tappe les les Parisiens.
	</div>

</body>

</html>
