<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>title</title>
	<style>
		.wrapper {
			border: 1px solid black;
			padding: 10px;
		}

		.black {
			float: left;
			margin: 0;
			background-color: black;
			color: #fff;
			width: 20%;
		}

		.red {
			float: right;
			margin: 0;
			background-color: pink;
			width: 20%;
		}

		.both {
			border: 1px solid black;
			clear: both;
		}

		.bottom {
			border: 1px solid blue;
		}

		p {
			width: 45%;
			margin: 0;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<div>123</div>
		<p class="black">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus sit amet
			diam. Duis mattis varius dui. Suspendisse eget dolor. Fusce pulvinar lacus
			ac dui.
		</p>
		<div>234</div>
		<p class="red">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus sit amet
			diam. Duis mattis varius dui. Suspendisse eget dolor.
		</p>
		123
		<p class="both">This paragraph clears both.</p>
	</div>
	<p class="bottom">This paragraph clears both.</p>

</body>

</html>
